<a href="https://colab.research.google.com/github/kawamottyan/movie-recommendation-system/blob/main/model/experiment/model/context_bandit/contextbaundit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [ ]:
movie_df = pd.read_csv('../../../data/movies_df.csv')
rating_df = pd.read_csv('../../../data/Eval.csv')

In [ ]:
movie_df.head(1)

,tmdbId,is_adult,budget,genre_names,genre_ids,original_language,original_title,overview,popularity,production_companies_names,production_companies_ids,production_companies_origin_country,production_countries_names,release_date,revenue,runtime,spoken_languages_english_name,status,tagline,title,video,vote_average,vote_count,backdrop_path,poster_path,overview_jp,tagline_jp,title_jp,genre_Action,genre_Adventure,genre_Animation,genre_Comedy,genre_Crime,genre_Documentary,genre_Drama,genre_Family,genre_Fantasy,genre_History,genre_Horror,genre_Music,genre_Mystery,genre_Romance,genre_Science Fiction,genre_TV Movie,genre_Thriller,genre_War,genre_Western
0,2,False,0.0,"Drama,Comedy,Romance,Crime","[,1,8,,, ,3,5,,, ,1,0,7,4,9,,, ,8,0,]",fi,Ariel,After the coal mine he works at closes and his...,16.786,Villealfa Filmproductions,"[,2,3,0,3,]",FI,Finland,1988-10-21,0.0,73.0,Finnish,Released,NaN,Ariel,False,7.1,275.0,https://image.tmdb.org/t/p/w500/ojDg0PGvs6R9xY...,https://image.tmdb.org/t/p/w500/ojDg0PGvs6R9xY...,NaN,NaN,真夜中の虹,0,0,0,1,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0

In [ ]:
# Select 'tmdbId' and all columns that start with 'genre_'
selected_columns = movie_df.filter(regex='^(tmdbId|genre_)')

# Drop 'genre_names' and 'genre_ids' columns if they exist
for col in ['genre_names', 'genre_ids']:
    if col in selected_columns:
        selected_columns = selected_columns.drop(columns=[col])

# Remove 'genre_' from column names
selected_columns.columns = selected_columns.columns.str.replace('genre_', '')

# Rename 'tmdbId' to 'movieId'
movie_genres = selected_columns.rename(columns={'tmdbId': 'ItemId'})

In [ ]:
movie_genres

,ItemId,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,2,0,0,0,1,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0
1,3,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
2,5,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,6,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,11,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26478,415072,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
26479,416437,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
26480,417285,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
26481,417399,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
26482,420743,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
rating_df

         SessionId  ItemId          Time
0              119    8844  8.451107e+08
1              142    8844  8.334587e+08
2              156    8844  1.040938e+09
3              249    8844  8.366401e+08
4              251    8844  9.652787e+08
...            ...     ...           ...
7991159     129498  156284  1.393875e+09
7991160     130992   14808  1.426692e+09
7991161     131651   36246  1.329237e+09
7991162     131651  155596  1.368938e+09
7991163     134701  209032  1.426268e+09

[7991164 rows x 3 columns]

In [ ]:
# Assume that an interaction is a reward
rating_df['reward'] = 1

In [ ]:
len(movie_genres.columns)

20

In [ ]:
movie_genres = pd.DataFrame({
    'ItemId': [1, 2, 3, 4, 5],
    'Action': [1, 0, 0, 0, 0],
    'Comedy': [0, 1, 0, 0, 1],
    'Drama': [0, 0, 1, 0, 1],
    'Romance': [0, 0, 0, 1, 1],
    'Thriller': [1, 1, 0, 0, 0]
})

In [ ]:
rating_df = pd.DataFrame({
    'SessionId': [1, 1, 2, 2, 3, 3, 4, 4, 5, 5],
    'ItemId': [1, 2, 2, 3, 3, 4, 4, 5, 1, 5],
    'Time': [1, 2, 1, 2, 1, 2, 1, 2, 1, 2],
    'reward': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
})

In [ ]:
import numpy as np
from collections import defaultdict

In [ ]:
chosen_genres = []
total_reward = 0

# Initialize parameters
alpha = 0.1
d = len(movie_genres.columns) - 1  # dimension of the feature
A = defaultdict(lambda: np.identity(d))
b = defaultdict(lambda: np.zeros((d, 1)))

for session in tqdm(filtered_session_ids):
    session_data = rating_df[rating_df['SessionId'] == session]

    max_p = float('-inf')
    chosen_genre = None
    chosen_features = None
    chosen_reward = None

    for genre in movie_genres.columns[1:]:  # Exclude 'ItemId'
        genre_features = movie_genres[genre].values
        genre_features = genre_features.reshape(-1, 1)

        # Calculate the estimated reward for the genre
        theta = np.dot(np.linalg.inv(A[genre]), b[genre])
        p = np.dot(theta.T, genre_features) + alpha * np.sqrt(np.dot(genre_features.T, np.dot(np.linalg.inv(A[genre]), genre_features)))

        # Select the genre with the highest estimated reward
        if p > max_p:
            max_p = p
            chosen_genre = genre
            chosen_features = genre_features
            chosen_reward = session_data[session_data['ItemId'].isin(movie_genres[movie_genres[genre] == 1]['ItemId'])]['reward'].sum()

    # Update A and b for the chosen genre
    if chosen_genre is not None:
        A[chosen_genre] += np.dot(chosen_features, chosen_features.T)
        b[chosen_genre] += chosen_reward * chosen_features

        # Track chosen genres and rewards
        chosen_genres.append(chosen_genre)
        total_reward += chosen_reward

print("Chosen genres:", chosen_genres)
print("Total reward:", total_reward)

100%|██████████| 5/5 [00:00<00:00, 228.65it/s]

Chosen genres: ['Comedy', 'Comedy', 'Comedy', 'Comedy', 'Comedy']
Total reward: 4

In [ ]:
movie_genres.columns[1:]

Index(['Action', 'Comedy', 'Drama', 'Romance', 'Thriller'], dtype='object')

In [ ]:
genre = 'Action'

In [ ]:
genre_features = movie_genres[genre].values
genre_features

array([1, 0, 0, 0, 0], dtype=int64)

In [ ]:
genre_features = genre_features.reshape(-1, 1)
genre_features

array([[1],
       [0],
       [0],
       [0],
       [0]], dtype=int64)

In [ ]:
theta = np.dot(np.linalg.inv(A[genre]), b[genre])
theta

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.]])

In [ ]:
alpha = 0.1
d = len(movie_genres.columns) - 1  # dimension of the feature
A = defaultdict(lambda: np.identity(d))
b = defaultdict(lambda: np.zeros((d, 1)))

In [ ]:
A

defaultdict(<function __main__.<lambda>()>, {})

In [ ]:
b

defaultdict(<function __main__.<lambda>()>, {})