In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(42)

In [3]:
session_ids = np.arange(1, 6)
genre_ids = np.arange(0, 6)
time_stamps = np.random.rand(20)
rating_data = np.random.choice(genre_ids, size=(20, 1), replace=True)
rating_data = np.hstack([np.random.choice(session_ids, size=(20, 1)), rating_data, time_stamps.reshape(-1, 1)])
rating_df = pd.DataFrame(rating_data, columns=['SessionId', 'GenreId', 'Time'])
rating_df = rating_df.drop_duplicates(subset=['SessionId', 'GenreId'])
rating_df['SessionId'] = rating_df['SessionId'].astype(int)
rating_df['GenreId'] = rating_df['GenreId'].astype(int)

In [4]:
rating_df.head()

   SessionId  GenreId      Time
0          2        2  0.374540
1          2        1  0.950714
2          1        3  0.731994
3          2        3  0.598658
4          5        5  0.156019

In [5]:
one_hot_df = rating_df.pivot_table(index='SessionId', columns='GenreId', aggfunc=len, fill_value=0)
one_hot_df.columns = one_hot_df.columns.droplevel(0)
one_hot_df

GenreId    0  1  2  3  4  5
SessionId
1          0  0  0  1  1  0
2          0  1  1  1  1  1
3          0  0  1  0  0  0
4          1  0  1  1  0  1
5          1  0  0  1  0  1

In [6]:
user_id_mapping = {sid: i for i, sid in enumerate(session_ids)}
genre_id_mapping = {iid: i for i, iid in enumerate(genre_ids)}

In [7]:
num_users = len(session_ids)
num_genres = len(genre_ids)

In [8]:
user_genre_matrix = np.zeros((num_users, num_genres))
for _, row in rating_df.iterrows():
    user_id = user_id_mapping[row['SessionId']]
    genre_id = genre_id_mapping[row['GenreId']]
    user_genre_matrix[user_id, genre_id] = 1

In [9]:
user_genre_matrix

array([[0., 0., 0., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1.],
       [0., 0., 1., 0., 0., 0.],
       [1., 0., 1., 1., 0., 1.],
       [1., 0., 0., 1., 0., 1.]])

In [10]:
movie_columns = ['Movie1', 'Movie2', 'Movie3', 'Movie4', 'Movie5']
item_ids = np.arange(1, 6)

In [11]:
movie_data = np.random.randint(0, 2, size=(5, len(movie_columns)))
movie_df = pd.DataFrame(movie_data, columns=movie_columns)
movie_df.insert(0, 'SessionId', item_ids)

In [12]:
movie_df.head()

   SessionId  Movie1  Movie2  Movie3  Movie4  Movie5
0          1       0       1       1       1       1
1          2       1       1       1       1       0
2          3       1       0       1       1       0
3          4       1       0       1       1       0
4          5       1       0       1       0       0

In [13]:
num_item = len(movie_columns)
user_movie_matrix = movie_df[movie_columns].to_numpy()

In [14]:
user_movie_matrix

array([[0, 1, 1, 1, 1],
       [1, 1, 1, 1, 0],
       [1, 0, 1, 1, 0],
       [1, 0, 1, 1, 0],
       [1, 0, 1, 0, 0]])

In [15]:
class LinUCB:
    def __init__(self, alpha, num_users, num_genres, num_item):
        self.alpha = alpha
        self.num_users = num_users
        self.num_genres = num_genres
        self.num_item = num_item
        self.d = num_genres + num_item
        self.A = np.repeat(np.identity(self.d)[np.newaxis, :, :], num_genres, axis=0)
        self.b = np.zeros((num_genres, self.d))

    def fit(self, user_genre_matrix, user_movie_matrix, num_epochs):
        avg_rewards = []
        for epoch in range(num_epochs):
            rewards = []
            for user_id in range(self.num_users):
                user_features_vector = user_genre_matrix[user_id]
                user_movie_vector = user_movie_matrix[user_id]
    
                combined_features = np.concatenate((user_features_vector, user_movie_vector))
    
                p_t = np.zeros(self.num_genres)
                for item_id in range(self.num_genres):
                    x_ta = combined_features.reshape(-1, 1)
                    A_a_inv = np.linalg.inv(self.A[item_id])
                    theta_a = A_a_inv.dot(self.b[item_id])
                    p_t[item_id] = theta_a.T.dot(x_ta) + self.alpha * np.sqrt(x_ta.T.dot(A_a_inv).dot(x_ta))

                max_p_t = np.max(p_t)
                max_idxs = np.argwhere(p_t == max_p_t).flatten()
                a_t = np.random.choice(max_idxs)

                r_t = 1 if user_genre_matrix[user_id, a_t] == 1 else 0
                rewards.append(r_t)

                ####print####
                # if user_id == 1:
                #     print('---')
                #     print(x_ta)
                #     print(a_t)
                #     print(r_t)
                ####print####

                x_t_at = combined_features[a_t].reshape(-1, 1)
                self.A[a_t] = self.A[a_t] + x_t_at.dot(x_t_at.T)
                self.b[a_t] = self.b[a_t] + r_t * x_t_at.flatten()

            avg_rewards.append(np.mean(rewards))

        return avg_rewards

    def predict(self, user_features, context_features):
        p_t = np.zeros(self.num_genres)
        
        for genre_id in range(self.num_genres):
            user_features_vector = user_features.reshape(-1)
            context_features_vector = context_features.reshape(-1)
        
            combined_features = np.concatenate((user_features_vector, context_features_vector))
        
            x_ta = combined_features.reshape(-1, 1)
            A_a_inv = np.linalg.inv(self.A[genre_id])
            theta_a = A_a_inv.dot(self.b[genre_id])
        
            p_t[genre_id] = theta_a.T.dot(x_ta) + self.alpha * np.sqrt(x_ta.T.dot(A_a_inv).dot(x_ta))
    
        recommended_genres = np.argsort(-p_t)
        return recommended_genres

    def update(self, user_id, item_id, reward, user_features, context_features):
        user_features_vector = user_features.reshape(-1)
        context_features_vector = context_features.reshape(-1)
        combined_features = np.concatenate((user_features_vector, context_features_vector))
    
        x_t_at = combined_features.reshape(-1, 1)
    
        self.A[item_id] = self.A[item_id] + x_t_at.dot(x_t_at.T)
        self.b[item_id] = self.b[item_id] + reward * x_t_at.flatten()

In [16]:
linucb_model = LinUCB(alpha=1.0, num_users=num_users, num_genres=num_genres, num_item=num_item)
avg_rewards = linucb_model.fit(user_genre_matrix, user_movie_matrix, num_epochs=10)

In [17]:
avg_rewards

[0.2, 0.4, 0.4, 0.4, 0.4, 0.4, 0.4, 0.2, 0.6, 1.0]

In [18]:
selected_user_id = 0
selected_user_features = user_genre_matrix[selected_user_id]
selected_user_features

array([0., 0., 0., 1., 1., 0.])

In [19]:
selected_contex_features = user_movie_matrix[selected_user_id]
selected_contex_features

array([0, 1, 1, 1, 1])

In [20]:
predicted_items = linucb_model.predict(selected_user_features, selected_contex_features)
top_predicted_item = predicted_items[0]
print(predicted_items)
print(top_predicted_item)

[1 4 0 2 3 5]
1

In [21]:
# user_genre_matrix

In [22]:
# user_movie_matrix

In [23]:
actual_reward = 1
linucb_model.update(selected_user_id, top_predicted_item, actual_reward, selected_user_features, selected_contex_features)